.not-found {
  background: url("../image/background.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  width: 100%;
  min-height: 500px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 135px 0;
}