header, .header {
  display: block;
  text-align: center;
  padding: 20px;

  .logo {
    width: 450px;
    height: 191px;
    vertical-align: middle;

    @include breakpoint(mobileonly) {
      width: 100%;
      height: auto;
    }
  }
}

footer, .footer {
  display: block;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #141414;
  color: #ffffff;
}